[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.prac2
Exec=/usr/bin/ru.auroraos.prac2
Name=Template
Name[ru]=Шаблон

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=prac2
ExecDBus=/usr/bin/ru.auroraos.prac2
